

.table1{
	background-color: skyblue;
	border-collapse: collapse;
	border: 1px solid green;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.table2{
	border: 2px solid steelblue;
}

.table3{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

td:nth-child(2){
	padding-left: 0px;
	padding-right: 0px;
}